<div>
	<div class="header">
    	<div class="header-left left">
    		<h3>{{data2}} ↘CHINA</h3>
    	</div>
    	<div class="nav left">
    		<a href="javascript:;">时政要闻</a>
    		<a href="javascript:;">台湾</a>
    		<a href="javascript:;">港澳</a>
    		<a>更多>></a>
</div>
    	</div>
  	<div class="content">
    <div class="text" ng-repeat="x in data">
      		<h4 class="zi" ng-class="{active:$index==0}">{{x.title | f}}</h4>
     </div>
     <div class="img" ng-repeat="c in img">
     	<img ng-src="{{c.img}}"/>
     </div>
</div>
	
</div>

